body {
  background-color: rgb(162, 255, 255);
}
.mainDiv{
    float:left;
    width:230px;
    width: 200px;
    background-color: white;
    border:5px solid rgb(0, 195, 255);
    border-radius: 5%;
    float:left;
    margin:50px;

  }
h1{
  margin-left: 820px;
}
button {
  height: 40px;
  border:3px solid rgb(0, 195, 255);
  border-radius: 20%;

}
input {
  height: 30px;
  width: 200px;
  margin-left: 800px;
  border:3px solid rgb(0, 195, 255);

}
